[Unit]
After=network.target
[Service]
EnvironmentFile=/home/ubuntu/dymension/aws.env
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/bin/bash /home/ubuntu/dymension/dymension/scripts/run_dymension.sh
[Install]
WantedBy=multi-user.target