[Unit]
After=network.target
[Service]
EnvironmentFile=/home/ubuntu/dymension/aws.env
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=dymd start
[Install]
WantedBy=multi-user.target