[Unit]
Description="Relayer Service"
After=network.target
[Service]
EnvironmentFile=/home/ubuntu/code/aws.env
Type=simple
Restart=always
RestartSec=5
User=ubuntu
ExecStart=/bin/bash /home/ubuntu/code/dymension-rdk/scripts/ibc/run_relayer.sh
[Install]
WantedBy=multi-user.target